---
title: Talks
permalink: /talks/
---
{%- assign n = site.data.talks | size %}
{%- if n > 0 %}
<ul class="dated-list">
{%- for t in site.data.talks %}
<li><time datetime="{{ t.date | date: '%Y-%m-%d' }}">{{ t.date | date: "%b %Y" }}</time>
<div>
<p class="talk__title">{{ t.title }}</p>
<p class="talk__event">{% if t.url %}<a href="{{ t.url }}">{{ t.event }}</a>{% else %}{{ t.event }}{% endif %}{% if t.location %}, {{ t.location }}{% endif %}</p>
{%- if t.slides %}
<p class="links"><a href="{{ t.slides | relative_url }}">Slides</a></p>
{%- endif %}
</div>
</li>
{%- endfor %}
</ul>
{%- else %}
<p>No talks listed yet.</p>
{%- endif %}
